@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SpaceMono";
  src: url("/fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SpaceMono";
  src: url("/fonts/SpaceMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SpaceMono";
  src: url("/fonts/SpaceMono-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SpaceMono";
  src: url("/fonts/SpaceMono-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@layer base {
  :root {
    scrollbar-gutter: stable both-edges;
    @apply font-mono bg-slate-800 text-gray-300 overflow-x-hidden;
  }


body > div.mobile-overflow {
  @apply overflow-x-clip min-h-screen flex flex-col place-items-center;
}

  body > div > * {
    @apply w-[100%] max-w-[800px];
  }

body:has(.primary-nav.open)::before {
 content: '';
@apply w-full h-full fixed bg-slate-950/50 backdrop-blur-sm z-0;
}
  header {
    @apply flex justify-between items-center h-auto sticky top-0 sm:pt-0 md:pt-2 bg-slate-800 select-none px-4;
  }

  .wordmark {
    @apply italic text-2xl text-white/60 hover:text-white cursor-pointer p-0;
  }

  .primary-nav {
    @apply flex sm:absolute sm:right-0 sm:translate-x-[250px] md:translate-x-0 sm:flex-col sm:w-[200px] md:w-auto sm:bg-slate-800 sm:top-0 md:flex-row md:static md:bg-transparent transition-all ease-in-out;
  }

  .primary-nav a {
    @apply hover:bg-white/5 p-5 font-bold;
  }

  .primary-nav a.active {
    @apply bg-white/5;
  }

  .primary-nav a.close {
    @apply sm:block md:hidden bg-black/25;
  }

  .primary-nav.open {
    @apply sm:translate-x-[0] z-50;
  }

  a.hamburger {
    @apply sm:block md:hidden py-4 px-2 cursor-pointer;
  }

  a.hamburger img {
    @apply w-8 h-auto;
  }

  main {
    @apply flex flex-col flex-1 bg-white/5 p-8;
  }

  h1 {
    @apply md:text-4xl font-bold pb-2 sm:text-2xl;
  }

  h2 {
    @apply md:text-2xl sm:text-xl font-bold;
  }

  h3 {
    @apply md:text-xl sm:text-lg;
  }

  hr {
    @apply -z-10;
  }

  p {
    @apply text-base;
  }

  ol {
    @apply list-decimal list-inside;
  }

  ul {
    @apply list-disc list-inside;
  }

  ul > li {
    @apply pl-6;
  }

  li > ul {
    @apply list-[square] pl-2;
  }

  footer {
    @apply flex h-min justify-center bg-slate-900;
  }

  .footer-nav {
    @apply flex items-center;
  }
  .footer-nav a {
    @apply px-10 py-3 hover:invert transition;
  }
}

@layer components {
  .blog-card {
    @apply w-full h-fit border-2 border-transparent hover:border-slate-400 my-3 bg-slate-500/10 p-6 sm:text-center md:text-left;
  }
  .blog-description {
    @apply sm:hidden md:block;
  }
}
