---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Error: Page Not Found";
---

<Layout title={pageTitle}>
  <div class="four-oh-four">
    <h1>~404: Page not found~</h1>
  </div>
</Layout>