---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Error: Internal Server Error";
---

<Layout title={pageTitle}>
  <div class="flex-1 flex items-start justify-center mt-12">
    <h1 class="text-4xl border border-x-8 border-y-8 border-slate-800 p-4">~500: Internal server error~</h1>
  </div>
</Layout>