---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Projects"
---

<Layout title={pageTitle}>
  <div class="flex items-start justify-center">
    <h1>Work in progress!</h1>
  </div>
  <hr />
    <h3 class="text-center">This section will be populated with projects once I have actually made some...</h3>
    <h3 class="text-center mt-8">For now, it's just this site.</h3>
</Layout>